<div class="nav-container">
    <nav class="nav navbar-inverse" id="gb-main-nav" role="navigation" nav-hold>
      <div class="container-fluid">
        <div class="navbar-header">
          <!--<a class="navbar-brand" ui-sref="app" ui-sref="home"><img class="nav-logo" alt="" src="imgs/Logo.png"></a>-->
          <a class="navbar-brand" href="#home" du-smooth-scroll du-scrollspy><img class="nav-logo" alt="" src="imgs/Logo.png"></a>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="gb-inside-nav" du-spy-context>
            <!--<li ui-sref="app.services" ui-sref-active="active"><a>Services</a></li>
            <li ui-sref="app.gallery" ui-sref-active="active"><a>Galleries</a></li>
            <li ui-sref="app.testimonies" ui-sref-active="active"><a>Testimonies</a></li>
            <li ui-sref="app.aboutus" ui-sref-active="active"><a>About Us</a></li>
            <li ui-sref="app.contactus" ui-sref-active="active"><a>Contact Us</a></li>-->
            <li><a href="#services" du-smooth-scroll du-scrollspy>Services</a></li>
            <li><a href="#gallery" du-smooth-scroll du-scrollspy>Galleries</a></li>
            <li><a href="#testimonies" du-smooth-scroll du-scrollspy>Testimonies</a></li>
            <li><a href="#aboutus" du-smooth-scroll du-scrollspy>About Us</a></li>
            <li><a href="#contactus" du-smooth-scroll du-scrollspy>Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
