<div class="page-container cover-page">
  <div class="cover-content">
    <div class="cover-img"><img ng-src="{{$ctrl.img}}"></div>
    <div class="title">
      <div class="top"><span>G</span>ood <span>B</span>rothers</div>
      <div class="bottom">Mobile Detailing</div>
    </div>

    <div class="subtitle">"{{$ctrl.subtitle}}"</div>
    <div class="contact">
      <div class="contact-item">
        <div class="icon-container"><i class="fa fa-volume-control-phone"></i></div>
        <div class="info">{{$ctrl.contacts.phone}}</div>
      </div>
      <div class="contact-item">
        <div class="icon-container"><i class="fa fa-envelope"></i></div>
        <div class="info">{{$ctrl.contacts.email}}</div>
      </div>
    </div>
  </div>
</div>
