<div full-page options="$ctrl.mainOptions" class="anim-swap">
  <div class="section " id="section0"><cover class="page-section"></cover></div>
  <div class="section" id="section1"><services class="page-section"></services></div>
  <div class="section" id="section2"><gallery class="page-section"></gallery></div>
  <div class="section" id="section3"><testimonies class="page-section"></testimonies></div>
  <div class="section" id="section4"><aboutus class="page-section"></aboutus></div>
  <div class="section test t5" id="section5"><test class="page-section"></test></div>
</div>
