<div class="page-section" data-section-name="home"><cover></cover></div>
<div class="test page-section t1" data-section-name="services" id="services"><test></test></div>
<div class="test page-section t2" data-section-name="galleries" id="galleries"><test></test></div>
<div class="test page-section t3" data-section-name="testimonies" id="testimonies"><test></test></div>
<div class="test page-section t4" data-section-name="aboutus" id="aboutus"><test></test></div>
<div class="test page-section t5" data-section-name="contactus" id="contactus"><test></test></div>
