<!--<div full-page options="$ctrl.mainOptions" class="anim-swap">-->
<div class="home-container" id="site-container" du-scroll-container>
  <cover class="page-section" id="home"></cover>
  <services class="page-section" id="services"></services>
  <gallery class="page-section" id="gallery"></gallery>
  <div class="spacer"><img ng-src="{{$ctrl.spaceImgs[1]}}"></div>

  <testimonies class="page-section" id="testimonies"></testimonies>
  <div class="spacer"><img ng-src="{{$ctrl.spaceImgs[2]}}"></div>

  <aboutus class="page-section" id="aboutus"></aboutus>
  <div class="spacer"><img ng-src="{{$ctrl.spaceImgs[0]}}"></div>
  
  <contactus class="page-section" id="contactus"></contactus>
</div>
