.gallery-page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  .page-content-container {
    position: relative;
    .greyGradient;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    .gallery-container {
      height: 80%;
      padding: 30px 50px 10px;
      overflow: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: space-around;
      position: relative;
      z-index: 5;

      @media @mobile-screen { padding: 30px 5px 10px; }
      .ctrl {
        width: 10%;
        overflow: hidden;
        font-size: 150px;
        padding-top: 30px;
        &.ctrl-left { text-align: left;}
        &.ctrl-right { text-align: right; }
        @media @mobile-screen { font-size: 100px; }
      }
      .gallery-list {
        width: 80%;
        overflow: hidden;
        height: 300px;
        padding: 10px;

        @media @mobile-screen { height: 200px; }
        .gallery-list-container {
          overflow: hidden;
          white-space:nowrap;
          padding: 10px;
          border-left: 5px solid @themeBlue;
          border-right: 5px solid @themeBlue;
          height: 100%;
          width: 100%;

          .gallery-item {
            display: inline-block;
            width: 25%;
            height: 100%;
            background-color: rgba(255,255,255,1);
            padding: 20px 20px 50px 20px;
            border: 1px solid rgba(0,0,0,1);
            @media @mobile-screen { width: 200px;}
            .item-container{
              width: 100%;
              height: 100%;
              overflow: hidden;
              img { width: 100%; border: 1px solid rgba(0,0,0,1);}
            }

            &+.gallery-item { margin-left: 20px; }
          }
        }
      }
    }

    .truck-cover {
      background: rgba(200,200,200,0.3);
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      .truck-container {
        visibility: hidden;
        padding: 10px 0px;

        &.screenVisible {
          visibility: visible;
          -webkit-animation:2.5s slideInLeft ease;
          animation:2.5s slideInLeft ease;
        }
      }
    }
  }
}

/*Dialog Pop Up*/
md-dialog {
  border-radius: 0 !important;
  .md-toolbar-tools { background-color: @themeBlue !important; }
  .pop-img {
    width: 100%;
  }
}
