.services-page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  .greyGradient;

  .page-content-container {
    width: 100%;
    //flex: 1 1 auto;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
    .service-items {
      width: 100%;
      .service-header {
        width: 100%;
        border-bottom: 2px solid rgba(0,0,0,1);
        text-transform: capitalize;
        .service-section { background: rgba(0,0,0,0.5); color:rgba(255,255,255,1); text-align: center; font-size: 1rem; }
        .service-items-container {
          //background: rgba(255,255,255,0.5);
          .blueGradient;
          color: @themeOffBlack;
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-around;

          @media @mobile-screen  { font-size: 1.5rem; }
          .service-item {
            text-align: center;
            width: 33.34%;
            position: relative;

            .item-title { display: block; }
            .item-price { display: block; }
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: -15%;
              border-top: 1px solid rgba(0,0,0,1);
              width: 127px;
              transform: rotate(45deg);
              transform-origin: 0 0;
              @media @mobile-screen { display: none; }
            }
            @media @mobile-screen { border-right: 2px solid rgba(0,0,0,1); }

            &.first { }
            &.last {
              &:after { display: none; }
              @media @mobile-screen { border-right: none; }
            }

            &.first.last { width: 100%;}
          }
        }
      }
      .service-body {
        padding: 10px 20px;
        font-size: 1.5rem;
        color:rgba(255,255,255,1);
        @media @mobile-screen { font-size: 1.2rem;}
        .service-description { text-align: center; padding: 20px; font-weight: bold;}
        .service-details {
          padding: 5px;
          -webkit-column-count: 2; /* Chrome, Safari, Opera */
          -moz-column-count: 2; /* Firefox */
          column-count: 2;
          .detail-item {
            padding: 2px 5px;
            text-align: center;
            i { padding-right: 7px; }
            span { }
          }
        }
      }

      &+.service-items { margin-top: 50px;}
    }
  }
  /* Custom scroll bars*/
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    //border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: @themeGreyFade;
  }
}
