.testimonies-page {
  .testimonies-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;

    .testimonies-item {
      display: inline-block;
      width: 45%;
      padding: 10px 20px;
      white-space:normal;
      overflow: hidden;
      .item-content { display: block;}
      .item-name { display: block; margin-top: 20px;}
    }
  }
}
